@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';
@import 'form.scss';
@import 'pages.scss';


/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $wh;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

.title {
	font-family: $ff;
	font-size: 24px;
	font-weight: 700;
	color: $bl;
	line-height: $lh;
}

.subtitle {
	font-family: $ff;
	font-size: 24px;
	font-weight: 400;
	color: $bl;
	line-height: $lh;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.btn {
	display: inline-block;
	text-align: center;
	padding: 17px;
	min-width: 221px;
	border-radius: 6px;
	background-color: $dblue;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: $wh;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: $blue;
	}
	&_gray {
		background-color: #E7ECF2;
		color: $dblue;
		&:hover {
			color: $wh;
			background-color: $red;
		}
	}
}

.btn-color-two {
	display: inline-flex;
	align-items: center;
	background-color: $dblue;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: "";
		width: 54px;
		height: 100%;
		background-color: $red;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		border-radius: 0 6px 6px 0;
		transition: all .3s ease-in-out;
	}
	span {
		&:first-child {
			flex: 1 1 auto;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $wh;
			line-height: $lh;
			text-align: center;
			text-transform: uppercase;
			padding: 16px 33px;
		}
	}
	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		flex: 0 0 54px;
		img {
			max-width: 100%;
		}
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}

.btn-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 36px;
	background-color: $blue;
	border-radius: 6px;
	transition: all .2s linear;
	&:hover {
		background-color: $red;
	}
	img {
		height: 22px;
		margin-right: 15px;
	}
	span {
		font-family: $ff;
		font-size: 14px;
		font-weight: 700;
		color: $wh;
		line-height: $lh;
		display: inline-block;
		text-transform: uppercase;
	}
}

.link {
	display: inline-flex;
	align-items: center;
	font-family: $ff;
	font-size: 14px;
	font-weight: 500;
	color: $dblue;
	line-height: $lh;
	transition: all .2s linear;
	img {
		margin-right: 8px;
		margin-top: 3px;
	}
	&:hover {
		color: $blue;
		text-decoration: underline;
	}
}

/*=========Navbar=========*/
.navbar {
	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 23px 28px;
		background-color: $wh;
		border-bottom: 1px solid #F2F9FB;
		position: relative;
		&:before {
    		content: "";
    		width: 0px;
    		height: 100%;
    		background-color: $dblue;
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 1;
    		transition: all .2s ease-out;
    	}
    	&:hover {
    		&:before {
    			width: 4px;
    		}
    	}
    	&.active {
    		&:before {
    			width: 4px;
    		}
    	}
    	&_red {
    		background-color: $lred;
    		&:before {
    			background-color: $red;
    		} 
    	}
		&__title {
			display: flex;
			align-items: center;
			margin-right: 10px;
			img {
				width: 24px;
				height: 24px;
				object-fit: contain;
				margin-right: 22px;
			}
			span {
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: $bl;
				line-height: $lh;
			}
		}
	}
	&__stat {
		display: inline-block;
		min-width: 25px;
		background-color: $red;
		padding: 0 6px;
		border-radius: 50px;
		font-family: $ff;
		font-size: 12px;
		font-weight: 500;
		color: $wh;
		line-height: $lh;
		text-align: center;
	}
}
/*=========navbar=========*/

/*==========Table===========*/
.table {
	margin-top: 50px;
	&_customer-base {
		.table__item {
			&:first-child {
				width: 19%;
			}
			&:nth-child(2) {
				width: 22%;
			}
			&:nth-child(3) {
				width: 18%;
			}
			&:nth-child(4) {
				width: 37%;
				&:after {
					display: none;
				}
			}
		}
	}
	&__filters {
		background-color: $wh;
		border: 1px solid #E4EBF1;
		padding: 25px 30px;
		display: flex;
		flex-wrap: wrap;
		.table__item {
			&:after {
				display: none;
			}
			&:last-child {
				margin-bottom: -10px;
			}
		}
	}
	.page-filters__description {
		display: none;
	}
	.info-box__menu {
		margin-left: auto;
	}
	&__item {
		padding: 0 30px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		&:after {
			content: "";
			width: 1px;
			height: 80px;
			background-color: $lgray;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			z-index: 1;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
			&:after {
				display: none;
			}
		}
	}
	&__header {
		margin: 20px 0 10px;
		background-color: #E5ECF2;
		display: flex;
		padding: 15px 30px;
		.table__item {
			&:after {
				display: none;
			}
		}
	}
	&__title {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
	}
	&__box {
		display: flex;
		background-color: $wh;
		box-shadow: 2px 2px 4px 1px rgba(164, 164, 164, 0.25);
		.table__title {
			display: none;
		}
	}
	&__name {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $blue;
		line-height: $lh;
	}
	&__info {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
}
/*==========/table===========*/

/*=========Data-list==========*/
.data-list {
	&__buttons {
		margin-top: 28px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		>* {
			margin-right: 20px;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
/*=========/data-list==========*/

/*===========Favourites=========*/
.favourites {
	margin-top: 25px;
	background-color: $wh;
	border: 1px solid #E4EBF1;
	&:first-child {
		margin-top: 0;
	}
	&__inner {
		display: flex;
	}
	&__photo {
		display: block;
		width: 32%;
		img {
			width: 100%;
			object-fit: cover;
		}
	}
	&__info {
		padding: 20px 30px 24px;
		width: 68%;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 5px;
	}
	&__btn {
		display: inline-block;
		svg {
			width: 24px;
			height: 24px;
			fill: $red;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 18px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
		transition: all .2s linear;
		margin-right: 30px;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: $blue;
		}
	}
	&__subtitle {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
		margin-bottom: 30px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -40px;
		margin-bottom: -20px;
		>* {
			margin-left: 40px;
			margin-bottom: 20px;
			width: calc(33.33333% - 40px);
		}
	}
	&-data {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		&__description {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $gray;
			line-height: $lh;
			margin-right: 3px;
		}
		&__info {
			font-family: $ff;
			font-size: 14px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			&_big {
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
}
/*===========/favourites=========*/

/*=========Message-notify========*/
.message-notify {
	margin-left: 5px;
	&:first-child {
		margin-left: 0;
	}
	span {
		&:first-child {
			font-family: $ff;
			font-size: 24px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
		}
		&:nth-child(2) {
			display: inline-block;
			min-width: 24px;
			padding: 0 5px;
			background-color: $red;
			border-radius: 50%;
			text-align: center;
			font-family: $ff;
			font-size: 20px;
			font-weight: 400;
			color: $wh;
			line-height: $lh;
			margin: 0 3px;
		}
		&:nth-child(3) {
			font-family: $ff;
			font-size: 24px;
			font-weight: 400;
			color: $red;
			line-height: $lh;
		}
	}
}
/*========/message-notify========*/

/*=========Info===========*/
.info {
	margin-top: 20px;
	&:first-child {
		margin-top: 0;
	}
	&-box {
		background-color: $wh;
		box-shadow: 2px 2px 4px 1px rgba(164, 164, 164, 0.25);
		padding: 30px 40px 30px 30px;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&.sh {
			&:before {
			    content: '';
			    right: 0px;
			    width: 100px;
			    height: 100%;
			    background: transparent;
			    position: absolute;
			    z-index: 3;
			}
		}
		&__data {
			padding-right: 28px;
			margin-right: 30px;
			flex: 0 0 106px;
			position: relative;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			&:after {
				content: "";
				width: 1px;
				height: 80px;
				background-color: $lgray;
				position: absolute;
				top: 50%;
				right: 0;
				z-index: 1;
				transform: translateY(-50%);
			}
		}
		&__content {
			flex: 1 1 auto;
			margin-right: 30px;
			&_border {
				max-width: 275px;
				min-width: 30%;
				padding-right: 30px;
				position: relative;
				&:after {
					content: "";
					width: 1px;
					height: 80px;
					background-color: $lgray;
					position: absolute;
					top: 50%;
					right: 0;
					z-index: 1;
					transform: translateY(-50%);
				}
			}
		}
		&__name {
			display: inline-block;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $dblue;
			line-height: $lh;
			margin-bottom: 2px;
		}
		&__description {
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
		}
		&__btn {
			flex: 0 0 auto;
			display: inline-flex;
			border-radius: 5px;
			background-color: #E4EDF2;
			padding: 7px 11px;
			font-family: $ff;
			font-size: 12px;
			font-weight: 400;
			color: $dblue;
			line-height: $lh;
			text-align: center;
			transition: all .2s linear;
			margin-right: 23px;
			min-width: 104.25px;
			text-align: center;
			justify-content: center;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				background-color: $red;
				color: $wh;
			}
			&_blue {
				background-color: $dblue;
				color: $wh;
				&:hover {
					background-color: $blue;
				}
			}
			&_mr-min {
				margin-right: 10px;
			}
		}
		&__close {
			display: inline-block;
			flex: 0 0 12px;
			svg {
				width: 12px;
				height: 12px;
				fill: $dblue;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					fill: $red;
				}
			}
		}
		&__icon {
			display: inline-block;
			margin-right: 18px;
			svg {
				width: 32px;
				height: 32px;
				fill: $dblue;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					fill: $blue;
				}
			}
		}
		&__menu {
			cursor: pointer;
			svg {
				width: 24px;
				height: 24px;
				fill: $dblue;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					fill: $blue;
				}
			}
			&.active {
				svg {
					fill: $bl;
				}
			}
		}
		&__dropdown {
			display: none;
			width: 200px;
			padding: 2px 0;
			background-color: $wh;
			border: 1px solid #E4EBF1;
			box-shadow: 0px 8px 24px rgba(129, 135, 189, 0.25);
			position: absolute;
			right: 0;
			top: calc(100% - 25px);
			z-index: 20;
		}
		&__link {
			display: flex;
			padding: 11px 12px;
			transition: all .2s linear;
			background-color: $wh;
			position: relative;
			padding-right: 24px;
			.info-stat {
				position: absolute;
				top: 50%;
				right: 13px;
				transform: translateY(-50%);
				z-index: 1;
			}
			img {
				width: 16px;
				margin-right: 10px;
			}
			span {
				font-family: $ff;
				font-size: 14px;
				font-weight: 500;
				color: $bl;
				line-height: $lh;
				transition: all .2s linear;

			}
			&:hover {
				background-color: #E7ECF2;
			}
		}
	}
	&-nav {
		display: flex;
		background-color: $wh;
		border: 1px solid #E4EBF1;
		margin-bottom: 30px;
		&__item {
			display: inline-flex;
			align-items: center;
			padding: 24px 30px;
			background-color: $wh;
			position: relative;
			span {
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: $bl;
				line-height: $lh;
				margin-left: 17px;
				transition: all .2s linear;
				&:first-child {
					margin-left: 0;
				}
			}
			&:after {
				content: "";
				width: 100%;
				height: 3px;
				background-color: $dblue;
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 1;
				opacity: 0;
			}
			&:hover {
				span {
					color: $dblue;
				}
			}
			&.active {
				&:after {
					opacity: 1;
				}
			}
		}
		&-data {
			margin-left: 50px;
			flex: 1 1 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 24px 30px 24px 50px;
			position: relative;
			&:before {
				content: "";
				width: 1px;
				height: 60px;
				background-color: $lgray;
				position: absolute;
				left: 0;
				top: 50%;
				z-index: 1;
				transform: translateY(-50%);
			}
			&__input {
				position: relative;
				padding-left: 50px;
				margin-right: 20px;
				input {
					width: 100%;
					background-color: $wh;
					border: none;
					border-radius: 0;
					font-family: $ff;
					font-size: 16px;
					font-weight: 500;
					color: $bl;
					line-height: $lh;
					&::placeholder {
						opacity: 1;
					}
				}
				img {
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 1;
					transform: translateY(-50%);

				}
			}
			&__delete {
				display: inline-block;
				cursor: pointer;
				svg {
					width: 12px;
					height: 12px;
					fill: $dblue;
					transition: all .2s linear;
				}
				&:hover {
					svg {
						fill: $red;
					}
				}
			}
		}
	}
	&-stat {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #00B16A;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}
/*=========/info===========*/

/*==========Add-file========*/
.add-file {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 10;
		label {
			display: inline-flex;
			align-items: center;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $dblue;
			line-height: $lh;
			cursor: pointer;
			transition: all .2s linear;
			svg {
				width: 24px;
				height: 24px;
				fill: $dblue;
				margin-right: 4px;
				transition: all .2s linear;
			}
			&:hover {
				color: $blue;
				svg {
					fill: $blue;
				}
			}
		}
		input {
			width: 0.1px;
     		height: 0.1px;
     		opacity: 0;
     		position: absolute;
     		z-index: -10;
		}
	}
/*==========/add-file========*/

/*=========File-box===========*/
.file-box {
	display: flex;
	justify-content: space-between;
	background-color: $lblue;
	padding: 5px 10px 5px 24px;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0;
	}
	&__name {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $dblue;
		line-height: $lh;
	}
	&__close {
		display: inline-block;
		flex: 0 0 12px;
		cursor: pointer;
		svg {
			width: 12px;
			height: 12px;
			fill: $dblue;
			transition: all .2s linear;
		}
		&:hover {
			svg {
				fill: $red;
			}
		}
	}
}
/*=========/file-box===========*/

/*=========Calendar============*/
.calendar {
	margin-top: 30px;
	display: flex;
	&-manager {
		align-items: flex-start;
		.calendar-item {
			&:first-child {
				width: 31%;
			}
			&:last-child {
				width: calc(69% - 30px);
			}
		}
	}
	&-item {
		margin-right: 30px;
		display: flex;
		flex-direction: column;
		&:first-child {
			width: 42.5%;
		}
		&:last-child {
			margin-right: 0;
			width: calc(57.5% - 30px);
		}
		&__title {
			font-family: $ff;
			font-size: 18px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			margin-bottom: 30px;
		}
	}
	&-box {
		background-color: $wh;
		border: 1px solid #E4EBF1;
		padding: 30px;
		position: relative;
		flex: 1 1 auto;
		&__header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 24px;
			height: 40px;
		}
		&__name {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			&_bold {
				font-weight: 700;
			}
		}
		&__arrows {
			margin-top: -2px;
			display: flex;
			position: absolute;
			top: 30px;
			right: 30px;
			z-index: 100;
			background-color: $wh;
		}
		&__arrow {
			cursor: pointer;
			padding: 10px 15px;
			border: 1px solid #CDD9E4;
			svg {
				width: 20px;
				height: 20px;
				fill: $dblue;
				transition: all .2s linear;
			}
			&:hover {
				svg {
					fill: $blue;
				}
			}
			&_prev {
				border-radius: 6px 0 0 6px;
				margin-right: -1px;
			}
			&_next {
				border-radius: 0 6px 6px 0;
				svg {
					transform: rotate(180deg);
				}
			}
		}
		&-days {
			&__header {
				display: flex;
				margin-bottom: 20px;
				>* {
					width: 14.285%;
					text-align: center;
					&:last-child {
						margin-right: 0;
					}
				}
			}
			&__title {
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: $dblue;
				line-height: $lh;
			}
		}
		&__content {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -10px;
			>* {
				margin-bottom: 10px;
				width: 14.285%;
				text-align: center;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__day {
			padding: 10px;
			position: relative;
			z-index: 1;
			font-family: $ff;
			font-size: 16px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
			transition: all .2s linear;
			&:before {
				content: "";
				width: 40px;
				height: 40px;
				background-color: $blue;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: -1;
				opacity: 0;
				transition: all .2s linear;
			}
			&.inactive {
				color: $gray;
			}
			&.available {
				cursor: pointer;
				color: $wh;
				&:before {
					opacity: 1;
				}
			}
			&.checked {
				cursor: pointer;
				color: $wh;
				&:before {
					opacity: 1;
					background-color: $dblue;
				}
			}
		}
	}
	&-time {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		&__wrapper {
			display: none;
			&.checked {
				display: block;
			}
		}
		&__btn {
			margin-top: 30px;
		}
		&__inner {
			margin-top: 28px;
			display: flex;
			flex-wrap: wrap;
			margin-left: -30px;
			margin-bottom: -30px;
			>* {
				flex: 1 1 auto;
			}
		}
		&__checkbox {
			margin-left: 30px;
			margin-bottom: 30px;
			label {
				padding: 15px;
				width: 100%;
				min-width: 93px;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #3A82A7;
				border-radius: 5px;
				background-color: $wh;
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: #3A82A7;
			}
			input {
				display: none;
				&:checked + label {
					color: $wh;
					background-color: $dblue;
					border-color: $dblue;
				}
				&:disabled + label {
					cursor: default;
					color: $gray;
					background-color: #F2F9FB;
					border-color: #F2F9FB;
				}
			}
		}
	}
	&__btn {
		display: inline-block;
		text-align: center;
		padding: 17px;
		min-width: 221px;
		border-radius: 6px;
		background-color: $dblue;
		font-family: $ff;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: $wh;
		line-height: $lh;
		transition: all .2s linear;
		&:hover {
			background-color: $blue;
		}
	}
	&-list {
		&__item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0;
			border-bottom: 1px solid $lgray;
			&:last-child {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		&__row {
			display: flex;
			align-items: center;
		}
		&__time {
			margin-right: 30px;
			padding: 15px;
			min-width: 93px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #3A82A7;
			border-radius: 5px;
			background-color: $wh;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: #3A82A7;
			&.inactive {
				background-color: #F2F9FB;
				border: 1px solid #F2F9FB;
				color: $gray;
			}
		}
		&__name {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $dblue;
			line-height: $lh;
		}
		&__description {
			font-family: $ff;
			font-size: 14px;
			font-weight: 400;
			color: $bl;
			line-height: $lh;
			margin-bottom: 2px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.btn {
			font-size: 12px;
			padding: 7px 10px;
			min-width: 104px;
			text-transform: none;
			font-weight: 400;
		}
	}
}
/*=========/calendar============*/

/*=========Data-box=======*/
.data-box {
	margin-top: 20px;
	background-color: $wh;
	border: 1px solid #E4EBF1;
	&:first-child {
		margin-top: 0;
	}
	&__header {
		display: flex;
		background-color: $wh;
		box-shadow: 0px 0px 24px rgba(164, 164, 164, 0.25);
	}
	&__photo {
		padding: 35px 35px 40px 45px;
		background-color: $blue;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__inner {
		flex: 1 1 auto;
		padding: 30px 30px 35px;
	}
	&__title {
		font-family: $ff;
		font-size: 16px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
		margin-bottom: 10px;
	}
	&__search {
		display: flex;
		margin-bottom: 15px;
		input {
			display: block;
			flex: 1 1 auto;
			padding: 16px 13px;
			border: 1px solid #CDD9E4;
			border-radius: 6px 0px 0px 6px;
			background-color: $wh;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
			&::placeholder {
				color: $gray;
			}
		}
		.btn-color-two {
			min-width: 28%;
			border-radius: 0 6px 6px 0;
		}
	}
	&__description {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray;
		line-height: $lh;
	}
	&__content {
		max-width: 690px;
		margin: 0 auto;
		padding: 40px 15px;
	}
	&__item {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__name {
		width: 65%;
		padding-right: 30px;
		display: flex;
		span {
			display: inline-block;
			margin-right: 30px;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $bl;
			line-height: $lh;
		}
	}
	&__line {
		flex: 1 1 auto;
		border-bottom: 1px solid $lgray;
	}
	&__info {
		width: 35%;
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
}
/*=========/data-box=======*/

/*=========Chat=======*/
.chat {
	* {
	  scrollbar-width: thin;
	  scrollbar-color: $dblue $lgray;
	}
	*::-webkit-scrollbar {
	  height: 40px;
	  width: 3px;
	}
	*::-webkit-scrollbar-track {
	  background: $lgray;
	}
	*::-webkit-scrollbar-thumb {
	  background-color: $dblue;
	  border: 3px solid $dblue;
	}
	&__inner {
		max-height: 490px;
		overflow-y: auto;
		padding-right: 16px;
	}
	&__item {
		display: flex;
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(even) {
			.chat__content {
				background-color: $lblue;
			}		
		}
	}
	&__icon {
		margin-right: 30px;
		width: 50px;
		height: 50px;
		flex: 0 0 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $dblue;
		border-radius: 50%;
		span {
			font-family: $ff;
			font-size: 20px;
			font-weight: 500;
			color: #00476E;
			text-transform: uppercase;
		}
		img {
			max-width: 20px;
		}
	}
	&__content {
		flex: 1 1 auto;
		padding: 20px;
		border: 1px solid $b-gray;
		border-radius: 0px 6px 6px 6px;
	}
	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__name {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $bl;
		line-height: $lh;
		margin-right: 15px;
		margin-bottom: 5px;
	}
	&__date {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $gray;
		line-height: $lh;
		margin-bottom: 5px;
	}
	&__text {
		font-family: $ff;
		font-size: 16px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
	&__link {
		margin-top: 12px;
		display: flex;
		align-items: center;
		svg {
			width: 24px;
			height: 24px;
			fill: $dblue;
			transition: all .2s linear;
			margin-right: 16px;
		}
		span {
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $dblue;
			line-height: $lh;
			transition: all .2s linear;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/*=========/chat=======*/

/*============Schedule=========*/
.schedule {
	width: 100%;
	max-width: 1820px;
	padding: 0 15px;
	margin: 30px auto;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
		margin-bottom: -30px;
	}
	&__col {
		width: calc(50% - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
		border: 1px solid #E4EBF1;
		padding: 24px 30px 50px;
		&_pt {
			padding-top: 80px;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		padding: 10px 0;
		border-bottom: 1px solid $lgray;
		transition: all .2s linear;
		/*&:hover {
			background-color: $lgray;
		}*/
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	&__title {
		font-family: $ff;
		font-size: 20px;
		font-weight: 700;
		color: $bl;
		line-height: $lh;
		margin-bottom: 30px;	
	}
	&__time {
		margin-right: 30px;
		padding: 15px;
		min-width: 93px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #3A82A7;
		border-radius: 5px;
		background-color: $wh;
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: #3A82A7;
		&.inactive {
			background-color: #F2F9FB;
			border: 1px solid #F2F9FB;
			color: $gray;
		}
	}
	&__name {
		font-family: $ff;
		font-size: 16px;
		font-weight: 500;
		color: $dblue;
		line-height: $lh;
	}
	&__description {
		font-family: $ff;
		font-size: 14px;
		font-weight: 400;
		color: $bl;
		line-height: $lh;
	}
}
/*============/schedule=========*/


/*==========Adaptive==============*/
@media(max-width: 1330px) {
	.info {
		&-nav {
			&__item {
				padding: 20px 15px;
				span {
					font-size: 14px;
				}
			}
			&-data {
				padding: 20px 15px 20px 20px;
				margin-left: 20px;
				&__input {
					padding-left: 35px;
					input {
						font-size: 14px;
					}
				}
			}
		}
	}
}
@media(max-width: 1200px) {
	.navbar {
		&-item {
			padding: 20px 15px;
			&__title {
				img {
					margin-right: 15px;
				}
				span {
					font-size: 14px;
				}
			}
		}
	}
	.favourites {
		&__row {
			margin-left: -20px;
			>* {
				margin-left: 20px;
				width: calc(50% - 20px);
			}
		}
		&-data {
			&__info {
				&_big {
					font-size: 14px;
				}
			}
		}
	}
	.calendar {
		align-items: flex-start;
		&-box {
			&__day {
				&:before {
					width: 35px;
					height: 35px;
				}
			}
		}
		&-item {
			&:first-child {
				width: 50%;
			}
			&:last-child {
				width: 50%;
			}
		}
	}
}

@media(max-width: 992px) {
	.table {
		margin-top: 30px;
		&__filters {
			display: block;
			.page-filters__description {
				display: block;
			}
			.table__item {
				width: 100%!important;
				padding: 0;
			}
		}
		&__title {
			font-size: 12px;
		}
		&__name {
			font-size: 14px;
		}
		&__info {
			font-size: 14px;
		}
		&__item {
			padding: 0 15px;
			&:after {
				height: 60px;
			}
		}
	}
	.data-box {
		&__photo {
			padding: 20px;
			img {
				width: 80px;
			}
		}
		&__inner {
			padding: 15px;
		}
	}
	.info {
		&-nav {
			flex-wrap: wrap;
			&__item {
				width: 100%;
				flex: 1 1 100%;
				margin-right: 0;
				&:after {
					width: 3px;
					height: 100%;

				}
			}
			&-data {
				width: 100%;
				margin-left: 0;
				padding-left: 15px;
				&:before {
					display: none;
				}
			}
		}
	}
	.calendar {
		display: block;
		&-manager {
			.calendar-item {
				&:first-child, &:last-child {
					width: 100%;
				}
			}
		}
		&-item {
			margin-right: 0;
			&:first-child {
				width: 100%;
				margin-bottom: 30px;
			}
			&:last-child {
				width: 100%;
			}
		}
	}
	.message-notify {
		span {
			&:first-child {
				font-size: 16px;
			}
			&:nth-child(2) {
				min-width: 20px;
				font-size: 16px;
			}
			&:nth-child(3) {
				font-size: 16px;
			}
		}
	}
}

@media(max-width: 860px) and (min-width: 766px) {
	.data-list {
		&__buttons {
			>* {
				min-width: calc(50% - 10px);
			}
		}
	}
}

@media(max-width: 860px) {
	.favourites {
		&__inner {
			display: block;
		}
		&__photo {
			width: 100%;
			img {
				max-height: 270px;
			}
		}
		&__info {
			width: 100%;
			padding: 15px;
		}
	}
	.info {
		&-box {
			padding: 20px;
			&__data {
				font-size: 14px;
				padding-right: 15px;
				margin-right: 15px;
				flex: 0 0 90px;
			}
			&__name {
				font-size: 14px;
			}
			&__description {
				font-size: 14px;
			}
			&__dropdown {
				top: calc(100% - 20px);
			}
		}
	}
	.schedule {
		&__inner {
			margin-left: 0;
		}
		&__col {
			width: 100%;
			margin-left: 0;
		}
	}
}

@media(max-width: 765px) {
	.btn-icon {
		padding: 15px;
		img {
			margin-right: 10px;
		}
		span {
			font-size: 12px;
		}
	}
	.table {
		&__filters {
			padding: 20px;
			.table__item {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		&__header {
			display: none;
		}
		&__content {
			margin-top: 20px;
			.table__title {
				font-size: 14px;
				display: block;
				margin-right: 20px;
			}
		}
		&__info, &__name {
			text-align: right;
		}
		&__box {
			justify-content: flex-end;
			flex-wrap: wrap;
			&.info-box {
				&.sh {
					&:before {
						left: auto;
						right: 20px;
					}
				}
			}
		}
		&__item {
			padding: 0 0 10px 0;
			width: 100%!important;
			margin-bottom: 10px;
			border-bottom: 1px solid $lgray;
			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
			&:after {
				display: none;
			}
		}
		.info-box__menu {
			margin-left: 0;
		}
	}
	.calendar {
		&-item {
			&__title {
				margin-bottom: 15px;
			}
		}
		&-box {
			padding: 20px;
		}
	}
}

@media(max-width: 546px) {
	.calendar {
		&-list {
			&__item {
				flex-wrap: wrap;
			}
			&__info {
				flex: 1 1 auto;
				margin-bottom: 15px;
			}
			&__time {
				margin-right: 15px;
				font-size: 14px;
				min-width: 80px;
			}
			&__name {
				font-size: 14px;
			}
			&__description {
				font-size: 12px;
			}
		}
	}
	.favourites {
		&__title {
			font-size: 16px;
		}
	}
	.chat {
		&__inner {
			padding-right: 10px;
		}
		&__icon {
			margin-right: 10px;
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
			span {
				font-size: 18px;
			}
		}
		&__content {
			padding: 15px;
		}
		&__name {
			font-size: 14px;
		}
		&__text {
			font-size: 14px;
		}
		&__link {
			span {
				font-size: 14px;
			}
		}
	}
	.schedule {
		&__col {
			padding: 20px 15px 25px;
		}
	}
	.data-box {
		&__header {
			flex-direction: column;
			align-items: flex-start;
		}
		&__photo {
			padding: 10px;
			img {
				width: 40px;
			}
		}
		&__search {
			input {
				font-size: 14px;
			}
		}
		&__inner {
			width: 100%;
		}
		&__item {
			margin-bottom: 15px;
		}
		&__name {
			padding-right: 10px;
			span {
				font-size: 14px;
				margin-right: 10px;
			}
		}
		&__info {
			font-size: 14px;
		}
	}
	.data-list {
		&__buttons {
			flex-direction: column;
			>* {
				width: 100%;
				margin-right: 0;
			}
		}
	}
	.info {
		&-box {
			flex-wrap: wrap;
			position: relative;
			&.sh {
				&:before {
					left: 20px;
					bottom: 20px;
					width: 24px;
					height: 24px;
				}
			}
			&__data {
				flex: 1 1 100%;
				padding-right: 20px;
				margin-right: 0;
				padding-bottom: 10px;
				margin-bottom: 10px;
				&:after {
					width: 100%;
					height: 1px;
					top: 100%;
					right: auto;
					left: 0;
					transform: translateY(0);
				}
			}
			&__content {
				flex: 1 1 100%;
				margin-right: 0;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
				&_border {
					max-width: 100%;
					border-bottom: 1px solid $lgray;
					padding-right: 0;
					padding-bottom: 10px;
					&:after {
						display: none;
					}
				}
			}
			&__close {
				position: absolute;
				top: 20px;
				right: 20px;
			}
		}
	}
}

@media(max-width: 414px) {
	.title {
		font-size: 20px;
	}
	.subtitle {
		font-size: 18px;
	}
	.btn-color-two {
		span {
			&:first-child {
				font-size: 13px;
				padding: 16px;
			}
		}
	}
	.btn {
		font-size: 13px;
	}
	.schedule {
		&__title {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}
	.data-box {
		&__title {
			font-size: 14px;
		}
		&__search {
			input {
				padding: 12px;
			}
			.btn-color-two {
				&__icon {
					display: none;
				}
				&:after {
					display: none;
				}
			}
		}
		&__content {
			padding: 25px 15px;
		}
	}
	.calendar {
		&-time {
			&__inner {
				margin-left: -15px;
				margin-bottom: -15px;
			}
			&__checkbox {
				margin-left: 15px;
				margin-bottom: 15px;
			}
		}
	}
}

@media(max-width: 375px) {
	.schedule {
		&__time {
			margin-right: 20px;
		}
		&__name {
			font-size: 14px;
		}
	}
	.data-box {
		&__name {
			span {
				font-size: 12px;
			}
		}
		&__info {
			font-size: 12px;
		}
	}
	.calendar {
		&-box {
			&-days {
				&__title {
					font-size: 14px;
				}
			}
			&__day {
				font-size: 14px;
				&:before {
					width: 30px;
					height: 30px;
				}
			}
		}
		&-time {
			&__btn {
				.btn {
					width: 100%;
				}
			}
		}
	}
}
@media(max-width: 320px) {
	.data-box {
		&__name {
			span {
				font-size: 10px;
			}
		}
		&__info {
			font-size: 10px;
		}
	}
}
/*==========/adaptive==============*/