@import 'fonts.scss';
@import 'variables.scss';
@import 'page.scss';
@import 'form.scss';
@import 'pages.scss';


/*Reset
===============*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-family: $ff;
	line-height: 1;
	font-size: 16px;
	color: $bl;
	background-color: $wh;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body.hidden {
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 1350px;
	padding: 0 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
}

.title {
	font-family: $ff;
	font-size: 24px;
	font-weight: 700;
	color: $bl;
	line-height: $lh;
	margin-bottom: 20px;
}

.btn {
	display: inline-block;
	text-align: center;
	padding: 17px;
	min-width: 221px;
	border-radius: 6px;
	background-color: $dblue;
	font-family: $ff;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: $wh;
	line-height: $lh;
	transition: all .2s linear;
	&:hover {
		background-color: $blue;
	}
	&_gray {
		background-color: #E7ECF2;
		color: $dblue;
		&:hover {
			color: $wh;
			background-color: $red;
		}
	}
}

.btn-color-two {
	display: inline-flex;
	align-items: center;
	background-color: $dblue;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	z-index: 1;
	&:after {
		content: "";
		width: 54px;
		height: 100%;
		background-color: $red;
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		border-radius: 0 6px 6px 0;
		transition: all .3s ease-in-out;
	}
	span {
		&:first-child {
			flex: 1 1 auto;
			font-family: $ff;
			font-size: 16px;
			font-weight: 500;
			color: $wh;
			line-height: $lh;
			text-align: center;
			text-transform: uppercase;
			padding: 16px 33px;
		}
	}
	&__icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 54px;
		flex: 0 0 54px;
		img {
			max-width: 100%;
		}
	}
	&:hover {
		&:after {
			width: 100%;
		}
	}
}

.btn-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 36px;
	background-color: $blue;
	border-radius: 6px;
	transition: all .2s linear;
	&:hover {
		background-color: $red;
	}
	img {
		height: 22px;
		margin-right: 15px;
	}
	span {
		font-family: $ff;
		font-size: 14px;
		font-weight: 700;
		color: $wh;
		line-height: $lh;
		display: inline-block;
		text-transform: uppercase;
	}
}

/*=========Navbar=========*/
.navbar {
	&-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 28px;
		background-color: $wh;
		border-bottom: 1px solid #F2F9FB;
		position: relative;
		&:before {
    		content: "";
    		width: 0px;
    		height: 100%;
    		background-color: $dblue;
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 1;
    		transition: all .2s ease-out;
    	}
    	&:hover {
    		&:before {
    			width: 4px;
    		}
    	}
    	&.active {
    		&:before {
    			width: 4px;
    		}
    	}
    	&_red {
    		background-color: $lred;
    		&:before {
    			background-color: $red;
    		} 
    	}
		&__title {
			display: flex;
			align-items: center;
			margin-right: 10px;
			img {
				width: 24px;
				height: 24px;
				object-fit: contain;
				margin-right: 22px;
			}
			span {
				font-family: $ff;
				font-size: 16px;
				font-weight: 500;
				color: $bl;
				line-height: $lh;
			}
		}
	}
	&__stat {
		display: inline-block;
		min-width: 25px;
		background-color: $red;
		padding: 0 6px;
		border-radius: 50px;
		font-family: $ff;
		font-size: 12px;
		font-weight: 500;
		color: $wh;
		line-height: $lh;
		text-align: center;
	}
}
/*=========navbar=========*/

/*=========Data-list==========*/
.data-list {
	&__buttons {
		margin-top: 28px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		>* {
			margin-right: 20px;
			margin-bottom: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
/*=========/data-list==========*/


/*==========Adaptive==============*/
@media(max-width: 1200px) {
	.navbar {
		&-item {
			padding: 20px 15px;
			&__title {
				img {
					margin-right: 15px;
				}
				span {
					font-size: 14px;
				}
			}
		}
	}
}
@media(max-width: 860px) and (min-width: 766px) {
	.data-list {
		&__buttons {
			>* {
				min-width: calc(50% - 10px);
			}
		}
	}
}
@media(max-width: 765px) {
	.btn-icon {
		padding: 15px;
		img {
			margin-right: 10px;
		}
		span {
			font-size: 12px;
		}
	}
}

@media(max-width: 546px) {
	.data-list {
		&__buttons {
			flex-direction: column;
			>* {
				width: 100%;
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 414px) {
	.btn-color-two {
		span {
			&:first-child {
				font-size: 13px;
				padding: 16px;
			}
		}
	}
	.btn {
		font-size: 13px;
	}
}
/*==========/adaptive==============*/