@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/DINPro.woff2") format("woff2"), url("../fonts/DINPro.woff") format("woff"), url("../fonts/DINPro.ttf") format("truetype"); }

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/DINPro-Medium.woff2") format("woff2"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'DIN Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/DINPro-Bold.woff2") format("woff2"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.ttf") format("truetype"); }

/*============Header=========*/
.header {
  background-color: #fff; }
  .header__nav {
    border-bottom: 1px solid #E8E8E8; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative; }
  .header__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header__links_big .header__link {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 60px; }
      .header__links_big .header__link:last-child {
        margin-right: 0; }
    .header__links_big .header__dropdown .header__link {
      font-size: 13px;
      font-weight: 500;
      margin-right: 0; }
  .header__link {
    font-family: "DIN Pro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #000;
    line-height: 1.25;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    margin-right: 28px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__link:last-child {
      margin-right: 0; }
    .header__link:hover {
      color: #5881A3; }
    .header__link > span {
      cursor: pointer;
      position: relative;
      padding-right: 15px; }
      .header__link > span:after {
        content: "";
        width: 6.1px;
        height: 3.75px;
        background: url("../images/arrow-small.svg") center no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        z-index: 1;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
        transition: all .3s linear; }
    .header__link.dropdown span:after {
      -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
      transform: translateY(-50%) rotate(-180deg); }
  .header__dropdown {
    background-color: #fff;
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    z-index: 50;
    border: 1px solid #E8E8E8;
    display: none; }
    .header__dropdown .header__link {
      display: block;
      padding: 17px 30px 17px 15px;
      white-space: nowrap;
      position: relative;
      border-bottom: 1px solid #E8E8E8;
      margin-right: 0; }
      .header__dropdown .header__link:before {
        content: "";
        width: 0px;
        height: 100%;
        background-color: #22496c;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out; }
      .header__dropdown .header__link:hover:before {
        width: 4px; }
  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__buttons__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .header__btn-search {
    margin-right: 38px; }
    .header__btn-search svg {
      width: 24px;
      height: 24px;
      fill: #22496c;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
  .header-favorite {
    position: relative;
    margin-right: 32px; }
    .header-favorite svg {
      width: 24px;
      height: 23px;
      fill: #22496c;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
    .header-favorite span {
      display: inline-block;
      min-width: 26px;
      border-radius: 50px;
      background-color: #BE1522;
      text-align: center;
      white-space: nowrap;
      font-family: "DIN Pro", sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: #fff;
      line-height: 1.25;
      position: absolute;
      top: 4px;
      right: -14px;
      z-index: 1; }
    .header-favorite:hover svg {
      fill: #BE1522; }
  .header__btn {
    display: inline-block;
    padding: 16px 34px;
    background-color: #22496c;
    text-align: center;
    font-family: "DIN Pro", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    line-height: 1.25;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .header__btn:hover {
      background-color: #BE1522; }
  .header-search {
    background-color: #5781a3;
    padding: 10px 28px 10px 15px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 40;
    width: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    visibility: hidden;
    opacity: 0;
    margin-top: -150px; }
    .header-search.show {
      visibility: visible;
      margin-top: 0;
      opacity: 1; }
    .header-search__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-search__input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    .header-search__icon {
      position: absolute;
      left: 30px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 1; }
      .header-search__icon svg {
        width: 24px;
        height: 24px;
        fill: #969696; }
    .header-search input {
      display: block;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 10px 15px 10px 50px;
      background-color: #fff;
      border-radius: 5px 0 0 5px;
      font-family: "DIN Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #000;
      line-height: 1.25; }
      .header-search input::-webkit-input-placeholder {
        color: #757575; }
      .header-search input:-ms-input-placeholder {
        color: #757575; }
      .header-search input::-ms-input-placeholder {
        color: #757575; }
      .header-search input::placeholder {
        color: #757575; }
    .header-search button {
      background-color: #22496c;
      padding: 10px;
      border-radius: 0 5px 5px 0;
      font-family: "DIN Pro", sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #fff;
      line-height: 1.25;
      min-width: 13%;
      margin-right: 28px; }
      .header-search button svg {
        width: 24px;
        height: 24px;
        fill: #fff;
        display: none; }
    .header-search__close {
      cursor: pointer;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 13px;
      flex: 0 0 13px; }
      .header-search__close svg {
        width: 13px;
        height: 13px;
        fill: #fff;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
      .header-search__close:hover svg {
        fill: #BE1522; }
  .header__menu {
    padding: 30px 0; }
  .header-logo {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-logo__info {
      margin-left: 30px;
      font-family: "DIN Pro", sans-serif;
      font-size: 14px; }
      .header-logo__info span:first-child {
        font-weight: 400;
        color: #000;
        line-height: 1.25;
        display: block;
        margin-bottom: 4px; }
      .header-logo__info span:nth-child(2) {
        font-weight: 700;
        color: #000;
        line-height: 1.25;
        display: block;
        letter-spacing: 0.085em;
        text-transform: uppercase; }
  .header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px 40px; }
    .header-social__icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #5881A3;
      width: 40px;
      height: 40px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px;
      border-radius: 50%;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-right: 14px; }
      .header-social__icon:last-child {
        margin-right: 0; }
      .header-social__icon:hover {
        background-color: #22496c; }
  .header-contact {
    padding: 20px; }
    .header-contact__phone {
      display: inline-block;
      font-family: "DIN Pro", sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #000;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-bottom: 16px; }
      .header-contact__phone:hover {
        color: #5881A3; }
    .header-contact__link {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #5881A3;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-bottom: 7px; }
      .header-contact__link:last-child {
        margin-bottom: 0; }
      .header-contact__link a {
        color: #5881A3; }
      .header-contact__link:hover {
        text-decoration: underline; }
    .header-contact__info {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #000;
      line-height: 1.25; }
  .header__menu-mobile {
    display: none; }

/*============/header=========*/
/*==========Burger==========*/
.burger {
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
  z-index: 100;
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .burger__item {
    display: block;
    width: 100%;
    height: 2px;
    background: #22496c;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0; }
    .burger__item:before, .burger__item:after {
      content: "";
      width: 100%;
      height: 2px;
      background: #22496c;
      position: absolute;
      left: 0;
      z-index: 1;
      -webkit-transition: -webkit-transform .3s linear;
      transition: -webkit-transform .3s linear;
      -o-transition: transform .3s linear;
      transition: transform .3s linear;
      transition: transform .3s linear, -webkit-transform .3s linear; }
    .burger__item:before {
      top: -7px; }
    .burger__item:after {
      top: 7px;
      width: 100%; }
  .burger.active .burger__item {
    background: none; }
  .burger.active .burger__item:before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(45deg) translateX(0px);
    -ms-transform: rotate(45deg) translateX(0px);
    transform: rotate(45deg) translateX(0px); }
  .burger.active .burger__item:after {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-45deg) translateX(0px);
    -ms-transform: rotate(-45deg) translateX(0px);
    transform: rotate(-45deg) translateX(0px);
    width: 100%; }

/*==========/burger==========*/
/*============Footer============*/
.footer {
  padding: 40px 0 28px; }
  .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 54px; }
    .footer-title__info {
      margin-left: 30px;
      font-family: "DIN Pro", sans-serif;
      font-size: 14px; }
      .footer-title__info span:first-child {
        font-weight: 400;
        color: #000;
        line-height: 1.25;
        display: block;
        margin-bottom: 4px; }
      .footer-title__info span:nth-child(2) {
        font-weight: 700;
        color: #000;
        line-height: 1.25;
        display: block;
        letter-spacing: 0.085em;
        text-transform: uppercase; }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -40px;
    margin-bottom: 112px; }
    .footer-menu__col {
      width: calc(25% - 40px);
      margin-left: 40px; }
    .footer-menu__block {
      margin-bottom: 18px; }
      .footer-menu__block:last-child {
        margin-bottom: 0; }
    .footer-menu__title {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 500;
      color: #000;
      line-height: 1.25;
      text-transform: uppercase;
      margin-bottom: 10px; }
      .footer-menu__title a {
        display: inline-block;
        color: #000;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        margin-bottom: 12px; }
        .footer-menu__title a:hover {
          color: #5881A3; }
      .footer-menu__title:last-child {
        margin-bottom: 0; }
        .footer-menu__title:last-child a {
          margin-bottom: 0; }
    .footer-menu__list li {
      margin-bottom: 10px; }
      .footer-menu__list li:last-child {
        margin-bottom: 0; }
    .footer-menu__list a {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #000;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .footer-menu__list a:hover {
        color: #5881A3; }
    .footer-menu__contact {
      margin-bottom: 62px; }
    .footer-menu__phone {
      font-family: "DIN Pro", sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #000;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-bottom: 16px; }
      .footer-menu__phone:last-child {
        margin-bottom: 0; }
      .footer-menu__phone a {
        color: #000;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
        .footer-menu__phone a:hover {
          color: #5881A3; }
      .footer-menu__phone_red {
        color: #BE1522; }
        .footer-menu__phone_red a {
          color: #BE1522; }
          .footer-menu__phone_red a:hover {
            color: #5881A3; }
    .footer-menu__link {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #5881A3;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-bottom: 7px; }
      .footer-menu__link:last-child {
        margin-bottom: 0; }
      .footer-menu__link a {
        color: #5881A3; }
      .footer-menu__link:hover {
        text-decoration: underline; }
    .footer-menu__info {
      font-family: "DIN Pro", sans-serif;
      font-size: 13px;
      font-weight: 400;
      color: #000;
      line-height: 1.25; }
  .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-social__icon {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: #5881A3;
      width: 40px;
      height: 40px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
      flex: 0 0 40px;
      border-radius: 50%;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      margin-right: 14px; }
      .footer-social__icon:last-child {
        margin-right: 0; }
      .footer-social__icon:hover {
        background-color: #22496c; }
  .footer__copyright {
    font-family: "DIN Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 1.25; }
    .footer__copyright > * {
      margin-bottom: 3px; }
      .footer__copyright > *:last-child {
        margin-bottom: 0; }

/*============/footer============*/
/*==============Adaptive===============*/
@media (max-width: 1350px) {
  .header__btn {
    margin-right: -15px; }
  .header-search {
    width: calc(100% + 30px);
    left: -15px; } }

@media (max-width: 860px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .header__links {
      display: none; }
    .header__nav {
      border-bottom: none;
      border-top: 1px solid #E8E8E8; }
    .header__buttons {
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .header-favorite {
      margin-right: 38px; }
    .header__menu {
      padding: 30px 0 10px; }
    .header__menu-mobile {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100vh;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      padding-left: 40px;
      z-index: 1000;
      overflow: auto;
      -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
      transform: translateX(110%);
      -webkit-transition: all .4s linear;
      -o-transition: all .4s linear;
      transition: all .4s linear; }
      .header__menu-mobile.show {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); }
      .header__menu-mobile__close {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        width: 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%; }
        .header__menu-mobile__close svg {
          width: 20px;
          height: 20px;
          fill: #fff;
          margin: 10px 0 0 10px; }
      .header__menu-mobile__inner {
        background-color: #fff;
        min-height: 100vh; }
    .header__link {
      display: block;
      margin-right: 0;
      text-transform: uppercase;
      font-size: 14px;
      padding: 13px 20px;
      border-bottom: 1px solid #E8E8E8; }
    .header__dropdown {
      position: static;
      width: 100%;
      border: none;
      padding: 15px 15px 0 20px; }
      .header__dropdown .header__link {
        border: none;
        padding: 0;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 14px;
        text-transform: none;
        white-space: normal; }
        .header__dropdown .header__link:last-child {
          margin-bottom: 0; }
  .burger {
    display: block; } }

@media (max-width: 765px) {
  .footer-title {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px; }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 30px; }
    .footer-menu__col {
      width: 100%;
      margin-left: 0;
      text-align: center; }
      .footer-menu__col:last-child {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-bottom: 30px; }
    .footer-menu__contact {
      margin-bottom: 30px; }
    .footer-menu__phone {
      margin-bottom: 10px; }
    .footer-menu__block {
      margin-bottom: 20px; }
      .footer-menu__block:last-child {
        margin-bottom: 20px; }
  .footer-social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__copyright {
    padding: 20px 0;
    border-top: 1px solid #CDD9E4; } }

@media (max-width: 546px) {
  .header__btn {
    padding: 14px 20px; }
  .header-logo img {
    width: 30px; }
  .header-logo__info {
    margin-left: 10px; }
    .header-logo__info span {
      font-size: 10px; }
  .header-search__icon {
    display: none; }
  .header-search input {
    padding-left: 20px; }
  .header-search button {
    padding: 10px 15px;
    margin-right: 20px; }
    .header-search button span {
      display: none; }
    .header-search button svg {
      display: block; } }

.footer-title img {
  width: 30px; }

.footer-title__info {
  margin-left: 10px; }
  .footer-title__info span {
    font-size: 10px; }

/*==============/adaptive===============*/
/*=============Form===========*/
.form-block {
  background: url("../images/town.png") center bottom repeat-x, -webkit-gradient(linear, left top, left bottom, from(#00456E), color-stop(100%, #00456E), to(#00385D));
  background: url("../images/town.png") center bottom repeat-x, -webkit-linear-gradient(top, #00456E 0%, #00456E 100%, #00385D 100%);
  background: url("../images/town.png") center bottom repeat-x, -o-linear-gradient(top, #00456E 0%, #00456E 100%, #00385D 100%);
  background: url("../images/town.png") center bottom repeat-x, linear-gradient(180deg, #00456E 0%, #00456E 100%, #00385D 100%);
  padding: 100px 0 265px; }

.form__title {
  font-family: "DIN Pro", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.01em;
  line-height: 1.25;
  margin: 0 auto 35px;
  max-width: 840px;
  text-align: center; }

.form__subtitle {
  font-family: "DIN Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 1.25;
  margin: 0 auto 24px;
  max-width: 840px; }

.form-headbox {
  max-width: 840px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .form-headbox > * {
    width: calc(50% - 5px);
    margin-right: 10px; }
    .form-headbox > *:last-child {
      margin-right: 0; }
  .form-headbox__link {
    background-color: #5881A3;
    padding: 18px;
    font-family: "DIN Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
    text-align: center; }
    .form-headbox__link.active {
      color: #5881A3;
      background-color: #fff; }

.form__box {
  background-color: #fff;
  max-width: 840px;
  margin: 0 auto 0;
  padding: 50px; }

.form__inner {
  max-width: 572px;
  margin: 0 auto; }

.form__items {
  margin-bottom: 25px; }
  .form__items:last-child {
    margin-bottom: 0; }

.form__item {
  margin-bottom: 25px; }
  .form__item:last-child {
    margin-bottom: 0; }

.form-input input {
  display: block;
  padding: 16px 14px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #CDD9E4;
  border-radius: 6px;
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1.25; }
  .form-input input::-webkit-input-placeholder {
    color: #999999;
    opacity: 1; }
  .form-input input:-ms-input-placeholder {
    color: #999999;
    opacity: 1; }
  .form-input input::-ms-input-placeholder {
    color: #999999;
    opacity: 1; }
  .form-input input::placeholder {
    color: #999999;
    opacity: 1; }
  .form-input input:disabled {
    color: #000;
    border: 1px solid #CDD9E4;
    background-color: #F5F9FC; }

.form-select select {
  display: block;
  padding: 16px 14px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #CDD9E4;
  border-radius: 6px;
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  line-height: 1.25;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-select select:disabled {
    background-color: #F5F9FC; }

.form-checkbox {
  position: relative;
  cursor: pointer;
  margin-right: 20px; }
  .form-checkbox:last-child {
    margin-right: 0; }
  .form-checkbox label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
  .form-checkbox span {
    display: inline-block;
    width: 22px;
    height: 22px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22px;
    flex: 0 0 22px;
    border: 1px solid #CDD9E4;
    border-radius: 5px;
    margin-right: 13px;
    position: relative; }
    .form-checkbox span:after {
      content: "";
      width: 15px;
      height: 11.5px;
      background: url("../images/check.svg") center no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0; }
  .form-checkbox i {
    font-family: "DIN Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    color: #000;
    line-height: 1.25; }
  .form-checkbox input {
    opacity: 0;
    width: 22px;
    height: 22px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22px;
    flex: 0 0 22px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    .form-checkbox input:checked + label span:after {
      opacity: 1; }

.form__label {
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5881A3;
  line-height: 1.25;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 14px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__link {
  font-family: "DIN Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #5881A3;
  line-height: 1.25;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .form__link:hover {
    text-decoration: underline; }

.form__buttons {
  margin-top: 25px; }
  .form__buttons_center {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .form__buttons > * {
    margin-bottom: 25px; }
    .form__buttons > *:last-child {
      margin-bottom: 0; }

.form__auto-center {
  text-align: center; }
  .form__auto-center > * {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0 auto; }
  .form__auto-center .form__row {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%; }

.form__description {
  font-family: "DIN Pro", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  line-height: 1.25;
  margin-bottom: 30px; }
  .form__description:last-child {
    margin-bottom: 0; }

/*=============/form===========*/
/*========Jq-selectbox=======*/
.jq-selectbox {
  width: 100%;
  position: relative; }
  .jq-selectbox:before {
    content: "";
    width: 6.5px;
    height: 3.75px;
    background: url("../images/arrow-small.svg") center no-repeat;
    position: absolute;
    top: 50%;
    right: 14px;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .jq-selectbox.dropdown:before {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }
  .jq-selectbox.dropdown .jq-selectbox__select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .jq-selectbox.disabled .jq-selectbox__select {
    background-color: #F5F9FC; }
  .jq-selectbox__select {
    width: 100%;
    background-color: #fff;
    padding: 16px 24px 16px 14px;
    background-color: #fff;
    border: 1px solid #CDD9E4;
    border-radius: 6px;
    font-family: "DIN Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 1.25;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .jq-selectbox__select:disabled {
      background-color: #F5F9FC; }
  .jq-selectbox__dropdown {
    top: 100%;
    width: 100%;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 5px;
    border: 1px solid #CDD9E4;
    border-top: none; }
    .jq-selectbox__dropdown li {
      cursor: pointer;
      padding: 10px 15px;
      font-family: "DIN Pro", sans-serif;
      font-family: "DIN Pro", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #000;
      line-height: 1.25;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
      .jq-selectbox__dropdown li:hover {
        background-color: #F5F9FC; }

/*========/jq-selectbox=======*/
/*===========Adaptive==========*/
@media (max-width: 765px) {
  .form-block {
    padding: 60px 0 160px; }
  .form-headbox__link {
    font-size: 14px; }
  .form__title {
    font-size: 28px;
    margin-bottom: 15px; }
  .form__subtitle {
    font-size: 16px; }
  .form__box {
    padding: 20px; }
  .form__description {
    font-size: 14px;
    margin-bottom: 20px; } }

@media (max-width: 414px) {
  .form-block {
    padding: 40px 0 100px; }
  .form-checkbox i {
    font-size: 14px; }
  .form-checkbox a {
    font-size: 14px; }
  .form__label {
    font-size: 14px; }
  .form-input input {
    font-size: 14px; }
  .form__link {
    font-size: 14px; }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .form__row > * {
      margin-right: 0;
      margin-bottom: 25px; }
      .form__row > *:last-child {
        margin-bottom: 0; }
  .form__auto-center > * {
    width: 100%; }
  .form__auto-center .form__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .form__auto-center .form__link {
    margin-bottom: 10px; }
  .form .btn-color-two {
    width: 100%; }
  .jq-selectbox__select {
    font-size: 14px; }
  .jq-selectbox__dropdown li {
    font-size: 14px; } }

@media (max-width: 360px) {
  .form-headbox__link {
    padding: 12px;
    font-size: 12px; } }

/*===========/adaptive==========*/
/*=========Page==========*/
.page {
  /*===/page-header===*/
  /*===/page__inner===*/
  /*===/page-sidebar===*/
  /*===/page-content===*/ }
  .page-header {
    background-color: #22496c;
    padding: 30px 0; }
    .page-header__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .page-header__person {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 20px; }
    .page-header__icon {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-family: "DIN Pro", sans-serif;
      font-size: 32px;
      font-weight: 700;
      color: #22496c;
      line-height: 1.25;
      letter-spacing: 0.01em;
      margin-right: 40px; }
      .page-header__icon:last-child {
        margin-right: 0; }
    .page-header__name {
      display: block;
      font-family: "DIN Pro", sans-serif;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      line-height: 1.25;
      letter-spacing: 0.01em;
      margin-bottom: 8px; }
    .page-header__data {
      font-family: "DIN Pro", sans-serif;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      line-height: 1.25;
      letter-spacing: 0.01em; }
    .page-header__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: -10px; }
      .page-header__buttons > * {
        margin-right: 30px;
        margin-bottom: 10px; }
        .page-header__buttons > *:last-child {
          margin-right: 0; }
  .page__wrapper {
    background-color: #F5F9FC;
    padding: 40px 0 80px; }
  .page__inner_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .page-sidebar {
    width: 25%;
    min-width: 230px;
    margin-right: 28px; }
  .page-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
    .page-content__box {
      background-color: #fff;
      border: 1px solid #E4EBF1;
      padding: 30px; }

/*=========/page==========*/
/*============Adaptive===========*/
@media (max-width: 992px) {
  .page-header__inner {
    display: block; }
  .page-header__person {
    margin-right: 0;
    margin-bottom: 20px; }
  .page-sidebar {
    margin-right: 15px; }
  .page-content__box {
    padding: 20px; } }

@media (max-width: 765px) {
  .page__wrapper {
    padding-bottom: 50px; }
  .page__inner_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .page-sidebar {
    width: 100%;
    margin-right: 0;
    margin-top: 20px; } }

@media (max-width: 546px) {
  .page-header__icon {
    margin-right: 15px; }
  .page-header__buttons > * {
    margin-right: 15px; } }

@media (max-width: 412px) {
  .page-header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .page-header__buttons > * {
      margin-right: 0; }
  .page-header__icon {
    width: 65px;
    height: 65px;
    font-size: 28px; }
  .page-header__name {
    font-size: 16px; }
  .page-header__data {
    font-size: 16px; } }

/*============/adaptive===========*/
/*Reset
===============*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "DIN Pro", sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body.hidden {
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto; }

.wrapper {
  overflow: hidden; }

.title {
  font-family: "DIN Pro", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000;
  line-height: 1.25;
  margin-bottom: 20px; }

.btn {
  display: inline-block;
  text-align: center;
  padding: 17px;
  min-width: 221px;
  border-radius: 6px;
  background-color: #22496c;
  font-family: "DIN Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.25;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .btn:hover {
    background-color: #5881A3; }
  .btn_gray {
    background-color: #E7ECF2;
    color: #22496c; }
    .btn_gray:hover {
      color: #fff;
      background-color: #BE1522; }

.btn-color-two {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #22496c;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-color-two:after {
    content: "";
    width: 54px;
    height: 100%;
    background-color: #BE1522;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 0 6px 6px 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .btn-color-two span:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: "DIN Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 33px; }
  .btn-color-two__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 54px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 54px;
    flex: 0 0 54px; }
    .btn-color-two__icon img {
      max-width: 100%; }
  .btn-color-two:hover:after {
    width: 100%; }

.btn-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 36px;
  background-color: #5881A3;
  border-radius: 6px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .btn-icon:hover {
    background-color: #BE1522; }
  .btn-icon img {
    height: 22px;
    margin-right: 15px; }
  .btn-icon span {
    font-family: "DIN Pro", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 1.25;
    display: inline-block;
    text-transform: uppercase; }

/*=========Navbar=========*/
.navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 28px;
  background-color: #fff;
  border-bottom: 1px solid #F2F9FB;
  position: relative; }
  .navbar-item:before {
    content: "";
    width: 0px;
    height: 100%;
    background-color: #22496c;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
  .navbar-item:hover:before {
    width: 4px; }
  .navbar-item.active:before {
    width: 4px; }
  .navbar-item_red {
    background-color: #FFEEEF; }
    .navbar-item_red:before {
      background-color: #BE1522; }
  .navbar-item__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px; }
    .navbar-item__title img {
      width: 24px;
      height: 24px;
      -o-object-fit: contain;
      object-fit: contain;
      margin-right: 22px; }
    .navbar-item__title span {
      font-family: "DIN Pro", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #000;
      line-height: 1.25; }

.navbar__stat {
  display: inline-block;
  min-width: 25px;
  background-color: #BE1522;
  padding: 0 6px;
  border-radius: 50px;
  font-family: "DIN Pro", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.25;
  text-align: center; }

/*=========navbar=========*/
/*=========Data-list==========*/
.data-list__buttons {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -10px; }
  .data-list__buttons > * {
    margin-right: 20px;
    margin-bottom: 10px; }
    .data-list__buttons > *:last-child {
      margin-right: 0; }

/*=========/data-list==========*/
/*==========Adaptive==============*/
@media (max-width: 1200px) {
  .navbar-item {
    padding: 20px 15px; }
    .navbar-item__title img {
      margin-right: 15px; }
    .navbar-item__title span {
      font-size: 14px; } }

@media (max-width: 860px) and (min-width: 766px) {
  .data-list__buttons > * {
    min-width: calc(50% - 10px); } }

@media (max-width: 765px) {
  .btn-icon {
    padding: 15px; }
    .btn-icon img {
      margin-right: 10px; }
    .btn-icon span {
      font-size: 12px; } }

@media (max-width: 546px) {
  .data-list__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .data-list__buttons > * {
      width: 100%;
      margin-right: 0; } }

@media (max-width: 414px) {
  .btn-color-two span:first-child {
    font-size: 13px;
    padding: 16px; }
  .btn {
    font-size: 13px; } }

/*==========/adaptive==============*/
