$ff: 'DIN Pro', sans-serif;
$lh: 1.25;
$bl: #000;
$wh: #fff;
$gray: #999999;
$lgray: #E8E8E8;
$b-gray: #CDD9E4;
$blue: #5881A3;
$dblue: #22496c;
$lblue: #F5F9FC;
$red: #BE1522;
$lred: #FFEEEF;